<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Fromdate</th>
      <th>Todate</th>
      <th>Datetime</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.description %></td>
        <td><%= report.fromDate %></td>
        <td><%= report.toDate %></td>
        <td><%= report.datetime %></td>
        <td><%= report.state %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
