<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Fromdate:</strong>
  <%= @report.fromDate %>
</p>

<p>
  <strong>Todate:</strong>
  <%= @report.toDate %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @report.datetime %>
</p>

<p>
  <strong>State:</strong>
  <%= @report.state %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
